<div class="avatar" [class.gym-active]="wearsGymOutfit">
  <div class="character-stage" [class.character-group]="characterImages.length > 1">
    <ng-container *ngIf="characterImages.length; else chooseGender">
      <img
        *ngFor="let image of characterImages"
        [src]="image"
        [alt]="profile.householdType ? '' : profile.gender + ' personalized lifestyle character'"
      />
    </ng-container>
    <ng-template #chooseGender><span class="avatar-placeholder">Choose Male or Female</span></ng-template>
    <div class="gym-shirt" *ngIf="characterImages.length === 1 && wearsGymOutfit" aria-label="Gym outfit">
      <span>GYM</span>
    </div>
  </div>
  <p *ngIf="showSummary">{{ summary }}</p>
</div>
