<div class="profile-burger-wrapper">
  <button class="profile-burger" type="button" aria-label="Open account menu"
    [attr.aria-expanded]="isOpen" (click)="toggleMenu()">
    <span class="avatar-sm">
      <img *ngIf="profileImage" [src]="profileImage" alt="Profile" (error)="fixProfileImage($event)">
      <i *ngIf="!profileImage" class="fa-regular fa-user" aria-hidden="true"></i>
    </span>
    <span class="account-label">Account</span>
    <i class="menu-chevron fa-solid fa-chevron-down" aria-hidden="true"></i>
  </button>

  <div class="burger-menu" [class.open]="isOpen">
    <div class="menu-profile">
      <div class="avatar-lg">
        <img *ngIf="profileImage" [src]="profileImage" alt="Profile" (error)="fixProfileImage($event)">
        <i *ngIf="!profileImage" class="fa-regular fa-user" aria-hidden="true"></i>
      </div>
      <div><div class="name">{{ user?.fullName || 'My account' }}</div>
        <div class="pin">{{ userPinLabel || '' }}</div></div>
    </div>
    <div class="menu-divider"></div>

    <ul class="menu-list">
      <li *ngFor="let item of menuItems">
        <a [routerLink]="item.route" (click)="closeMenu()">
          <i [class]="item.icon" aria-hidden="true"></i>
          {{ item.label }}
        </a>
      </li>
      <li class="sep" aria-hidden="true"></li>
      <li class="logout">
        <button type="button" (click)="logout()">
          <i class="fa-solid fa-arrow-right-from-bracket" aria-hidden="true"></i>
          Log out
        </button>
      </li>
    </ul>
  </div>
</div>
